.bg-white {
  background-color: white;
}

.block{
  display: block;
}
.inline {
  display: inline-block;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-middle {
  vertical-align: middle;
}

.border-box {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1{
  flex: 1;
}
.justify-end {
  justify-content: flex-end;
}

.padding-xs {
  padding: 10px;
}

.margin-top-xs {
  margin-top: 10px;
}
.margin-bottom-xs {
  margin-bottom: 10px;
}
.margin-right-xs {
  margin-right: 10px;
}
.margin-left-xs {
  margin-left: 10px;
}
.margin-lr-xs {
  margin-left: 10px;
  margin-right: 10px;;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.w100 {
  width: 100%;
}